name: Rust CI

on:
  push:
    branches:
      - master
    paths:
      - /*
      - .github/**
      - lib.rs
      - Cargo.toml

  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - master
    paths:
      - packages/**
      - examples/**
      - src/**
      - .github/**
      - lib.rs
      - Cargo.toml

jobs:
  check:
    if: github.event.pull_request.draft == false
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v2
      - run: sudo apt-get update
      - run: sudo apt-get install libsoup2.4 javascriptcoregtk-4.0
      - run: sudo apt install libwebkit2gtk-4.0-dev libgtk-3-dev libayatana-appindicator3-dev
      - uses: actions/checkout@v3
      - uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all --examples --tests
